<!-- FOOTER COMPONENT -->
    <footer class="footer">

        <div class="footer-container">

            <!-- BRAND -->
            <div class="footer-column">

                <a href="/index.html" class="footer-logo">
                    AURA
                </a>

                <p class="footer-description">

                    Authentic Asia Cuisine & Sushi Experience.

                </p>

            </div>

            <!-- OPENING HOURS -->
            <div class="footer-column">

                <h3>Öffnungszeiten</h3>

                <div class="footer-hours">

                    <p>Mo – So:</p>
                    <p>11:00 – 15:00 Uhr</p>
                    <p>&</p>
                    <p>17:00 – 22:00 Uhr</p>

                </div>

            </div>

            <!-- CONTACT -->
            <div class="footer-column">

                <h3>Contact</h3>

                <div class="footer-contact">

                    <p><strong>Feuchtwangen</strong></p>
                    <p>Dinkelsbühler Str 6, 91555 Feuchtwangen</p>
                    <p>09852-9080400</p>

                    <p style="margin-top: 16px;"><strong>Gunzenhausen</strong></p>
                    <p>Gerberstraße 6 - 91710 Gunzenhausen</p>
                    <p>09831-8822868</p>

                </div>

            </div>

            <!-- SOCIAL -->
            <div class="footer-column">

                <h3>Follow Us</h3>

                <div class="footer-social-column">

                    <a href="https://www.instagram.com/aura_asiacusine_sushi/">Instagram</a>
                    <a href="#">Facebook</a>
                    <a href="#">TikTok</a>

                </div>

            </div>

        </div>

        <!-- COPYRIGHT -->
        <div class="footer-bottom">

            <p>
                © 2026 Aura Restaurant.
                Alle Rechte vorbehalten.
            </p>

        </div>

    </footer>