<div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40"></div>

  <!-- Side Menu -->
  <div id="side-menu" 
    class="fixed top-0 left-0 h-full w-72 bg-[#111] text-white transform -translate-x-full transition-transform duration-300 z-50 shadow-lg">
    
    <div class="p-6">
      <!-- Nút đóng -->
      <button id="close-menu" class="text-gray-400 hover:text-yellow-400 mb-6">
        ✕ Schließen
      </button>

      <!-- Menu Items -->
      <ul class="space-y-4">
        <li id="link-home" class="font-semibold hover:text-yellow-400">Startseite</li>
        <li id="link-speisekarte" class="font-semibold hover:text-yellow-400">Speisekarte</li>
          <!-- <ul class="pl-4 space-y-2 text-gray-300">
            <li>🍣 Sushi & Sashimi</li>
            <li>🍲 Pho & Suppen</li>
            <li>🥢 Wokgerichte</li>
            <li>🥟 Vorspeisen</li>
            <li>🥦 Vegetarisch</li>
            <li>🍜 Reis- & Nudelgerichte</li>
            <li>🍣 Spezialrollen Sushi</li>
            <li>🍨 Nachspeisen</li>
            <li>🍹 Getränke</li>
            <li>🍱 Mittagsmenü</li>
          </ul> -->
        <li id="link-blog" class="font-semibold cursor-pointer hover:text-yellow-400">Blog</li>
        <li id="link-contact" class="font-semibold cursor-pointer hover:text-yellow-400">Kontakt</li>
        <!-- <li id="link-xx" class="font-semibold hover:text-yellow-400">Über uns</li> -->
      </ul>
    </div>
  </div>

